<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PhotoFolio Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: PhotoFolio
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>
<div th:replace="~{fragments :: header}"></div>
<div style="text-align: center; max-width: 1500px; margin: 0 auto;">

    <p style="font-size: 50px;">Witaj na naszej interaktywnej platformie quizowej!</p>
    <hr>

    <p style="font-size: 30px">
        Jesteśmy zespołem entuzjastów, którzy połączyli swoją pasję do wiedzy z technologią, aby stworzyć to miejsce dla
        Ciebie – miłośnika ciekawostek, wspaniałych faktów i wciągających zagadek. Nasza strona to oaza dla wszystkich,
        którzy uwielbiają uczyć się poprzez zabawę i sprawdzanie swojej wiedzy.

        Co nas wyróżnia? Tworzymy Nasze Quizy, aby pobudzać Twoje myślenie, zaskakiwać Cię i wciągać na długie godziny.
        Niezależnie od tego, czy jesteś ekspertem w danej dziedzinie, czy po prostu ciekawym uczniem życia, nasze quizy
        dostosowują się do Twojego poziomu. Dzięki temu możesz doskonalić swoją wiedzę i jednocześnie się bawić.

        Nasza misja polega na dostarczaniu Ci nie tylko wiedzy, ale również radości i satysfakcji. Każdy quiz to nowa
        przygoda, a każdy poprawny wynik to powód do dumy. Chcemy, abyś czuł się tu jak w miejscu, gdzie rozwijasz umysł
        i czerpiesz przyjemność jednocześnie.

        Nie ważne, czy odwiedzasz nas codziennie czy od czasu do czasu – zawsze znajdziesz tu coś interesującego.
        Pracujemy nieustannie, aby dostarczać Ci różnorodne tematy, od nauki przez kulturę po sport i wiele więcej.
        Możesz być pewien/pewna, że na naszej stronie zawsze będzie coś dla Ciebie.

        Dziękujemy, że jesteś częścią naszej społeczności quizowej. To Ty sprawiasz, że nasza strona żyje i się rozwija.
        Zachęcamy do eksplorowania, rywalizowania i przede wszystkim do czerpania z tego miejsca jak najwięcej. Jeśli
        masz jakieś sugestie, pytania lub po prostu chciałbyś/łabyś się z nami podzielić swoją opinią, śmiało skontaktuj
        się z nami.

        Razem tworzymy to miejsce pełne wiedzy, radości i pasji.
        Dziękujemy, że jesteś z nami!

    <hr>

    <p style="font-size: 30px"> Z quizowym pozdrowieniem,

        Zespół QuizGame!</p>
    </p>
</div>

<head th:replace="~{fragments :: footer}"></head>