<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head" >

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Quiz Game</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: PhotoFolio
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<section th:fragment="banner" id="hero" class="hero d-flex flex-column justify-content-center align-items-center"
         data-aos="fade"
         data-aos-delay="1500">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h1 style="font-size: 70px;">Witaj w Quiz Game!</h1>
                <p style="font-size: 30px;">Odkryj swoje ukryte talenty, testuj swoje umiejętności i sprawdź, jak wiele
                    możesz się nauczyć, grając z nami! </p>

                <a sec:authorize="!isAuthenticated()" href="/login" class="btn btn-warning btn-lg">Zaloguj się!</a>
                <a sec:authorize="isAuthenticated()" href="/logout" class="btn btn-warning btn-lg">Wyloguj się!</a>

            </div>
        </div>
    </div>


</section>

<header th:fragment="header" id="header" class="header d-flex align-items-center" xmlns:th="">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a class="logo d-flex align-items-center  me-auto me-lg-0">
            <i class="bi bi-controller"></i>
            <h1 >Quiz Game</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/" class="active">Strona Główna</a></li>
                <li><a href="/about">O Nas</a></li>
                <li><a href="/leaderboard">Tablica Wyników</a></li>
                <li><a href="/questions/list">Panel Administratora</a></li>
            </ul>
        </nav>

        <div class="header-social-links">
            <a href="https://twitter.com/?lang=pl" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="  https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://pl.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F"
               class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header>

<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                <div th:each="category : ${categories}" class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img th:src="${category.image}" style="border-radius: .25rem; width: 100%; height: 100%;"
                             class="img-fluid" alt="Image">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a th:href="@{'/quiz/' + ${category.name} + '/1'}" class="btn btn-primary btn-lg">
                                <span th:text="${category.name}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:fragment="footer" id="footer" class="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Quiz House</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>
<body>
</body>
</html>