<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PhotoFolio Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">

    <style>
        .answer-label {
            display: block;
            border: 5px solid #ccc;
            padding: 15px;
            margin-bottom: 25px;
            cursor: pointer;
            font-size: 25px;
            font-weight: 500;
            color: #ffffff;

        }

        .answer-label:hover {
            background-color: #030303;
        }
    </style>
</head>
<div th:replace="fragments :: header"></div>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Nazwa użytkowanika</th>
        <th>Kategoria</th>
        <th>Wynik</th>
        <th>Wynik procentowy</th>
        <th>Data Quizu</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="quizResult, idx : ${myQuizList}">
        <td th:text="${idx.index +1}"></td>
        <td th:text="${quizResult.user.login}"></td>
        <td th:text="${quizResult.categoryName}"></td>
        <td th:text="${quizResult.finalScore}"></td>
        <td th:text="${quizResult.percentageResult}"></td>
        <td th:text="${quizResult.createdAt}"></td>


    </tr>
    </tbody>
</table>