<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Quiz Game</title>
</head>

<body>

<div class="container">

    <h3>List of Questions</h3>
    <hr>

    <h2>Importuj pytania z pliku CSV</h2>
    <form  th:action="@{/importQuestions}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button class="btn btn-success btn-lg mb-3 " type="submit" >Importuj</button>
    </form>

    <hr>

    <a th:href="@{/questions/add}"
       class="btn btn-success btn-lg mb-3 ">
        Add Question
    </a>



    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Question</th>
            <th>Difficulty</th>
            <th>Category</th>
            <th>Answer A</th>
            <th>Answer B</th>
            <th>Answer C</th>
            <th>Answer D</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="question : ${questionList}">
            <td th:text="${question.questionText}"></td>
            <td th:text="${question.questionsDifficulty}"></td>
            <td th:text="${question.category.name}"></td>
            <td th:each="answer : ${question.answers}" th:text="${answer.answerText}"/>

            <td>
                <a th:href="@{/questions/modify(question_id=${question.questionId})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
            </td>
            <td>
                <a
                        th:href="@{/questions/delete(question_id=${question.questionId})}"
                        class="btn btn-danger btn-sm"
                        onclick="if (!(confirm('Are you sure you want remove that Question?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



