<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Question</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>

<div class="table table-bordered table-striped">

    <p class="h4 mb-4" sm>Save Question</p>
    <form action="/questions/add" method="post">
        <label for="question">Question:</label><br>
        <input type="text" id="question" name="questionText" required><br><br>

        <label for="questionsDifficulty">Difficulty:</label><br>
        <select id="questionsDifficulty" name="questionsDifficulty" required>
            <option value="EASY">Easy</option>
            <option value="MODERATE">Moderate</option>
            <option value="DIFFICULT">Difficult</option>
            <option value="CHALLENGING">Challenging</option>
            <option value="ADVANCED">Advanced</option>
        </select><br><br>

        <label for="categoryName">Category:</label><br>
        <input type="text" id="categoryName" name="category.name" required><br><br>

        <label for="answer1">Answer 1:</label><br>
        <input type="text" id="answer1" name="answers[0].answerText" required>
        <input type="checkbox" name="answers[0].correct" value="true"><br>

        <label for="answer2">Answer 2:</label><br>
        <input type="text" id="answer2" name="answers[1].answerText" required>
        <input type="checkbox" name="answers[1].correct" value="true"><br>

        <label for="answer3">Answer 3:</label><br>
        <input type="text" id="answer3" name="answers[2].answerText" required>
        <input type="checkbox" name="answers[2].correct" value="true"><br>

        <label for="answer4">Answer 4:</label><br>
        <input type="text" id="answer4" name="answers[3].answerText" required>
        <input type="checkbox" name="answers[3].correct" value="true"><br><br>

        <button type="submit" class="btn btn-info col-2">Add Question</button>
        <hr>
        <a th:href="@{/questions/list}">Back to Question List</a>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>





