<!--<head th:replace="fragments :: head" xmlns:th="http://www.w3.org/1999/xhtml"></head>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PhotoFolio Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: PhotoFolio
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <!--    <div th:replace="fragments :: header"></div>-->
    <style>
        .answer-label {
            display: block;
            border: 5px solid #ccc;
            padding: 15px;
            margin-bottom: 25px;
            cursor: pointer;
            font-size: 25px;
            font-weight: 500;
            color: #ffffff;

        }

        .answer-label:hover {
            background-color: #030303;
        }
    </style>
</head>

<div th:replace="fragments :: header"></div>

<main id="main">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="gallery-item h-100">
                    <img th:src="${question.category.image}" style="border-radius: .25rem; width: 100%; height: 100%;"
                         class="img-fluid" alt="Image">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <h3 th:text="${question.questionText}"></h3>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 text-center">
                    <a th:href="@{'/quiz/' + ${question.category.name} + '/' + ${questionIdx} + '/submit'(selectedAnswer=${question.answers[0].answerText}, questionId=${question.questionId})}">
                        <label class="answer-label">
                            <span th:text="${question.answers[0].answerText}"></span>
                        </label>
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a th:href="@{'/quiz/' + ${question.category.name} + '/' + ${questionIdx} + '/submit'(selectedAnswer=${question.answers[1].answerText}, questionId=${question.questionId})}">
                        <label class="answer-label">
                            <span th:text="${question.answers[1].answerText}"></span>
                        </label>
                    </a>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 text-center">
                    <a th:href="@{'/quiz/' + ${question.category.name} + '/' + ${questionIdx} + '/submit'(selectedAnswer=${question.answers[2].answerText}, questionId=${question.questionId})}">
                        <label class="answer-label">
                            <span th:text="${question.answers[2].answerText}"></span>
                        </label>
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a th:href="@{'/quiz/' + ${question.category.name} + '/' + ${questionIdx} + '/submit'(selectedAnswer=${question.answers[3].answerText}, questionId=${question.questionId})}">
                        <label class="answer-label">
                            <span th:text="${question.answers[3].answerText}"></span>
                        </label>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

