<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Quiz Game</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">


    <style>

        .correct-answer {
            background-color: #066c06;
        }

        .wrong-answer {
            background-color: #ea5c5c;
        }


        .answer-label {
            display: block;
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: 300;
            color: #ffffff;
        }
    </style>
</head>
<div th:replace="~{fragments :: header}"></div>

<body>
<section id="result" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h1 style="font-size: 30px;">Podsumowanie:</h1>
                <p style="font-size: 20px;">Kategoria <span th:value="${quizResult.categoryName}"></span></p>
                <p>Twoj wynik to: <span th:text="${quizResult.finalScore}"></span>/<span
                        th:text="${quizResult.answeredQuestionsNumber}"></span> .Zdobyles: <span
                        th:text="${quizResult.percentageResult}"></span>%</p>
                <p style="font-size: 20px;">Gratulacje!</p>
                <hr>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <p style="font-size: 20px;">Sprawdz swoj quiz: </p>
                <hr>
            </div>
        </div>


        <div th:each="userAnswerSummary : ${quizResult.getUserAnswerSummaries()}" class="row justify-content-center">

            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <h3 th:text="${userAnswerSummary.questionDTO.questionText}"></h3>
                </div>
            </div>

            <div class="row mt-4">
                <div th:class="${userAnswerSummary.questionDTO.answers[0].answerText == userAnswerSummary.correctAnswer.answerText} ? 'correct-answer col-md-6 text-center' : (${userAnswerSummary.questionDTO.answers[0].answerText == userAnswerSummary.userAnswer and !userAnswerSummary.questionDTO.answers[0].correct} ? 'wrong-answer col-md-6 text-center': 'col-md-6 text-center')">
                    <label class="answer-label">
                        <span th:text="${userAnswerSummary.questionDTO.answers[0].answerText}"></span>
                    </label>
                </div>
                <div th:class="${userAnswerSummary.questionDTO.answers[1].answerText == userAnswerSummary.correctAnswer.answerText} ? 'correct-answer col-md-6 text-center' : (${userAnswerSummary.questionDTO.answers[1].answerText == userAnswerSummary.userAnswer and !userAnswerSummary.questionDTO.answers[1].correct} ? 'wrong-answer col-md-6 text-center': 'col-md-6 text-center')">
                    <label class="answer-label">
                        <span th:text="${userAnswerSummary.questionDTO.answers[1].answerText}"></span>
                    </label>
                </div>
            </div>

            <div class="row mt-4">
                <div th:class="${userAnswerSummary.questionDTO.answers[2].answerText == userAnswerSummary.correctAnswer.answerText} ? 'correct-answer col-md-6 text-center' : (${userAnswerSummary.questionDTO.answers[2].answerText == userAnswerSummary.userAnswer and !userAnswerSummary.questionDTO.answers[2].correct} ? 'wrong-answer col-md-6 text-center': 'col-md-6 text-center')">
                    <label class="answer-label">
                        <span th:text="${userAnswerSummary.questionDTO.answers[2].answerText}"></span>
                    </label>
                </div>
                <div th:class="${userAnswerSummary.questionDTO.answers[3].answerText == userAnswerSummary.correctAnswer.answerText} ? 'correct-answer col-md-6 text-center' : (${userAnswerSummary.questionDTO.answers[3].answerText == userAnswerSummary.userAnswer and !userAnswerSummary.questionDTO.answers[3].correct} ? 'wrong-answer col-md-6 text-center': 'col-md-6 text-center')">
                    <label class="answer-label">
                        <span th:text="${userAnswerSummary.questionDTO.answers[3].answerText}"></span>
                    </label>
                </div>
            </div>

            <hr>
        </div>


    </div>


</section>
</body>

</html>